ion-content{

    --ion-background-color:#E3EFF9;
}
:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  ion-button {
    --border-radius: 10px;
    --background:rgb(206, 72, 72);
}
    