<!-- <ion-header>
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <ion-row style="height: 70px"></ion-row>
  
  <div>
    <ion-text><h1 style="margin: 5vh; text-align:center">Welcome</h1></ion-text>
  </div>
  
  <ion-row style="height: 80px"></ion-row>

  <ion-item style="margin: 20px;">
    <ion-icon name="mail-outline"  style="margin: 15px;"></ion-icon>
    <ion-input placeholder="Email" type="text"></ion-input>
  </ion-item>

<ion-item style="margin: 20px;">
  <!-- <ion-icon name="unlock" style="margin: 15px;"></ion-icon> -->
  <ion-icon name="lock-closed-outline" style="margin: 15px;"></ion-icon>
  <ion-input placeholder="Password" type="text"></ion-input>
</ion-item>
<div class="col-xs-12" style="text-align: end; margin-right: 20px;">
  <button style="color: dodgerblue;">Forgot Password</button>
</div>
<ion-row style="height: 20px"></ion-row>
<div>
  <section style="text-align: center;">
    <ion-button (click)="goAnOtherPage1()" Color="primary" size="medium" >Login</ion-button>
  </section>
</div>
<div style="margin: 60px;"></div>
<div class="col-xs-12" style="text-align: center; margin-right: 20px; color: dodgerblue; font-weight: bold;">
  Login Via
</div>

<ion-row style="height: 5px"></ion-row>

<div style="display:flex; justify-content: center;">
  <section>
    <ion-button style=" --border-radius: 15%;  --background:rgb(206, 72, 72);"  size="medium" ><ion-icon name="logo-google"></ion-icon></ion-button>
  </section>
  <div style="margin: 3%;"></div>
  <section>
    <ion-button  style=" --border-radius: 15%;" Color="primary" size="medium"  ><ion-icon name="logo-facebook"></ion-icon></ion-button>
  </section>
</div>
<ion-row style="height: 50px"></ion-row>
<div style="text-align: center;">
  <ion-label>Don't have an account?</ion-label>
    <button ion-button style="color:black;" (click)="goAnOtherPage()">
      Sign Up
    </button>

</div>

</ion-content>